<footer>
    {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
    {% if SITE_LICENSE %}
    <div>
        {{ SITE_LICENSE }}
    </div>
    {% endif %}

    {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
    {% if SITESUBTITLE %}
    <div>
        <span class="pyconth">PyCon Thailand</span> - {{ SITESUBTITLE }}
    </div>
    {% endif %}


    <img class="pycon-logo" src="/theme/img/pyconTH20-logo-sm.png" alt="PyConTH">
    <a>PyCon Thailand is a production of Python Thailand Society</a>
    <div id="fpowered">
        Theme assets: <a href="http://mad-arai-d.com/" title="Mad Arai-D Studio" target="_blank" rel="nofollow">Mad Arai-D</a>
        Powered by: <a href="http://getpelican.com/" title="Pelican Home Page" target="_blank" rel="nofollow">Pelican</a>
        Theme: <a href="https://elegant.oncrashreboot.com/" title="Theme Elegant Home Page" target="_blank" rel="nofollow">Elegant</a>
        {% if HOSTED_ON and HOSTED_ON.name %}
        Hosted on: Netlify
        {% if HOSTED_ON.url %}
        <a href={{HOSTED_ON.url}} target="_blank" rel="nofollow">
            {{HOSTED_ON.name}}
        </a>        
        {% else %}
        {{HOSTED_ON.name}}
        {% endif %}
        {% endif %}
    </div>
</footer>
