<!DOCTYPE >
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if CLAIM_GOOGLE %} {% include '_includes/claim_google.html' with context %} {% endif %} {% if CLAIM_BING %} {% include
        '_includes/claim_bing.html' with context %} {% endif %} {% if article and article.author %}
        <meta name="author" content="{{ article.author }}" />
        {% elif page and page.author %}
        <meta name="author" content="{{ page.author }}" />
        {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
        {% endif %} {% from '_includes/_defaults.html' import SITE_DESCRIPTION with context %} {% if SITE_DESCRIPTION %}
        <meta
            property="og:description"
            name="description"
            content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock head_description %}"
        />
        {% endif %} {% block meta_tags_in_head %} {% from '_includes/_defaults.html' import TWITTER_USERNAME with context %} {% if
        TWITTER_USERNAME %}
        <meta name="twitter:creator" content="@{{TWITTER_USERNAME}}" />
        {% endif %}
        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <!-- facebook -->
        {% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}
        <meta property="og:url" content="{{ SITEURL }}/" />
        <meta property="og:title" content="{{ SITENAME|striptags|e }}" />
        <meta property="og:image" content="{{ SITEURL }}{{ FEATURED_IMAGE }}" />
        <meta property="og:type" content="article" />
        {% endblock meta_tags_in_head %}
        <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
        {% block head_links %}
        <link rel="stylesheet" type="text/css" href="/theme/css/normalize.css" media="screen" />
        <link rel="icon" type="image/png" href="https://th.pycon.org/theme/img/pyconTH20-logo-sm.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />

        {% if 'assets' in PLUGINS %} {% include '_includes/minify_css.html' with context %} {% else %}
        <link rel="stylesheet" type="text/css" href="/theme/css/pygments.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/theme/tipuesearch/tipuesearch.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/theme/css/elegant.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/theme/css/admonition.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/theme/css/custom.css?v=1.1.1" media="screen" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
       

        {% endif %} {% endblock head_links %} {% include '_includes/favicon_links.html' %} {% block feed_links %} {% include
        '_includes/feeds.html' %} {% endblock feed_links %} {% include '_includes/analytics.html' %}
        <link rel="stylesheet" type="text/css" href="/theme/css/landing_page.css" media="screen" />
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        <div class="main-header-bg">
                <div class="container">
                    <div class="row no-gutters align-items-center" id="content-container">
                        <div class="col-auto position-relative">
                            <img class="img-fluid" id="header" src="/theme/img/pyconapachead.png" />
                            <div class="social-section">
                                <a href="https://www.facebook.com/Pyconthailand">
                                    <img class="social-icon" src="/theme/img/facebook-icon.png" />
                                </a>
                                <a href="https://www.instagram.com/pyconthailand">
                                    <img class="social-icon" src="/theme/img/instagram-icon.png" />
                                </a>
                                <a href="https://twitter.com/pyconthailand">
                                    <img class="social-icon" src="/theme/img/twitter-icon.png" />
                                </a>
                                <img class="rocket" src="/theme/img/rocket.png" />
                            </div>
                            <img id="rocket" src="/theme/img/rocket.png" />
                        </div>
                    </div>
                </div>
                <div class="content-container">
                    <div class="col-auto position-relative button-section">
                        <h4 class="ticket-button-text">We're excited to be hosting PyCon APAC 2021!</h4><br>
                        <!-- <a class="btn-base btn-cyan" href="">Get Tickets</a> -->
                        <a class="btn-base btn-cyan" href="https://mailchi.mp/defe55eefada/pyconthnews">Get Updates</a>
                        <a class="btn-base btn-white" href="https://www.papercall.io/pyconapac">Call For Papers</a>
                    </div>
                </div>
               
        </div>

        
        
        
        <div class="about-contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="Headline">
                            <div class="heading">
                                <img src="/theme/img/calendar-as.png" alt="" />
                                <h1>Going Hybrid</h1>
                               
                            </div>
                            <div class="content">
                                <p>
                                    To offer attendees the flexibility, PyCon APAC will be hybrid this year. You can choose to attend online through our virtual events platform or in person at Bangkok.
                                    PyCon APAC is the Python conference for countries in the Asia Pacific and Australasia region, including countries that do not organize their own PyCon conference. PyCon Thailand is proud to be hosting 
                                    this year. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="homepage-content-links">
            <div>
                <img src="/theme/img/work-as.png" alt="" />
                <h2>Workshops</h2>
                <p class="dates">Nov 19</p>
                <p>1 full day workshops for beginners to experienced developers.</p>
            </div>
            <div>
                <img src="/theme/img/talk-as.png" alt="" />
                <h2>Conference</h2>
                <p class="dates">Nov 20 - 21</p>
                <p>Main conference days with over 40 talks,sponsors booth and job opportunities.</p>
            </div>
            <div>
                <img src="/theme/img/hello-as.png" alt="" />
                <h2>Party</h2>
                <p class="dates">Nov 20</p>
                <p>Interact, discuss and have fun!</p>
            </div>
            <div>
                <img src="/theme/img/sprint-as.png" alt="" />
                <h2>Sprints</h2>
                <p class="dates">Nov 22 - 23</p>
                <p>Gather round to collaborate and contribute with veterans and novices.</p>
            </div>
        </div>

        <div class="keynote-speaker-container" id="keynotes">
            <div class="homepage-title">
                <img src="/theme/img/keynote-as.png" alt="keynote speakers" />
                <h1>Our Keynotes</h1>
            </div>

            <!-- --- Keynote No.1--- -->
            <figure class="keynote red">
                <figcaption>
                    <h2>Lorena <span>Mesa </span></h2>
                    <p>
                        Political scientist turned coder, Lorena Mesa is a GitHub data engineer, Director & Chair of PSF, 
                        JOSS editor, and PyLadies Chicago co-organizer. Lorena's time at Obama for America and subsequent graduate research helped her 
                       learn how to transform incomplete data into intelligible analysis. 
                        This drove Lorena to pursuing career in engineering and data science. Activist, Star Wars fanatic, and Trekkie, she abides by the motto to "live long and prosper".
                    </p>
                    <div class="icons">
                        <a href="https://twitter.com/loooorenanicole"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/lorenanicole"><i class="fa fa-github"></i></a>
                    </div>
                    </figcaption>
                <img src="/theme/img/speakers/lorena.jpg" alt="lorena-mesa" />
                <div class="job-title">GitHub data engineer, Director & Chair of PSF</div>
            </figure>

            <!-- ---Keynote No. 2 --- -->
            <figure class="keynote red">
                <figcaption>
                    <h2>Eric <span>Snow </span></h2>
                    <p>
                        Eric has been a core Python developer since 2012, focusing his efforts on internals like the import system the runtime. 
                        Since 2014 he has been slowly working on his multi-core Python project, which includes exposing subinterpreters in the stdlib. 
                        Eric lives in Utah with his very patient family. He works remotely at Microsoft on the open-source Python extension for Visual Studio Code 
                        and on CPython. He is currently working on a project with Guido Van Rossum making CPython faster.
                    </p>
                    <div class="icons">
                        <a href="https://twitter.com/ericsnowcrntly"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/ericsnowcurrently"><i class="fa fa-github"></i></a>
                    </div>
                </figcaption>
                <img src="/theme/img/speakers/ericsnow.jpg" alt="eric-snow" />
                <div class="job-title">Python Core Developer & Senior Software Engineer @ Microsoft</div>
            </figure>

            <!-- --- Keynote No.3--- -->
            <figure class="keynote red">
                <figcaption>
                    <h2>Mariatta <span>Wijaya</span></h2>
                    <p>
                        Mariatta Wijaya is the first woman to join Python’s core development team in 2016 and is the maintainer of Core Python’s GitHub bots. One of the bots she maintain is miss-islington that automatically backports and merges CPython pull requests.
                        Mariatta is also co-organizer of Vancouver PyLadies and the PyCascades conference. She is a full-time Staff Software Engineer at Uplight. Originally from Indonesia, she lives in Vancouver, Canada with her husband and two children. 
                        Mariatta has received the Python Software Foundation (PSF) community service award.
                        
                    </p>
                    <div class="icons">
                        <a href="https://twitter.com/mariatta"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/Mariatta"><i class="fa fa-github"></i></a>
                    </div>
                </figcaption>
                <img src="/theme/img/speakers/mariatta.jpg" alt="mariatta-wijaya" />
                <div class="job-title">Python Core Developer & Staff Software Engineer,Uplight</div>
            </figure>

          <!-- --- Keynote No.4--- -->
          <figure class="keynote red">
            <figcaption>
                <h2>Audrey <span>Tang</span></h2>
                <p>
                    Audrey Tang is Taiwan's youngest minister headhunted by the President Tsai Ing-wen in 2016. Often referred to as a genius and a child prodigy, 
                    Audrey started a company at age 15, managing a team of developers and hackers who worked in the coding language Perl.  
                    Audrey was a digital adviser to Apple in 2014, where they helped develop Apple’s digital assistant, Siri. 
                    One of Audrey's most-publicized accomplishments was creating a frequently updated map of locations where Taiwan’s citizens could find face masks during the COVID-19 pandemic.
                 </p>
                <div class="icons">
                    <a href="https://twitter.com/audreyt"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/audreyt"><i class="fa fa-github"></i></a>
                </div>
            </figcaption>
            <img src="/theme/img/speakers/audreytang.jpg" alt="audrey-tang" />
            <div class="job-title">Taiwan Digital Minister</div>
        </figure>


        <!-- Other Speakers 
        <div class="speakers">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="homepage-title">
                        <img src="/theme/img/keynote-as.png" alt="" />
                        <h1>Speakers</h1>
                    </div>
                </div>
            </div> 

            <div class="container-xxl">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/Zsm494R.jpg" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">MD.Moin</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                <div class="speakers-sm">
                                    <a href="#"><i class="fa fa-github"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>      
                                </div>
                                <a href="#" class="btn btn-outline-info btn-sm">View Profile</a>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/fgQ6BlE.jpg" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">MD.Rahid</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                <div class="speakers-sm">
                                    <a href="#"><i class="fa fa-github"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>      
                                </div>
                                  <a href="#" class="btn btn-outline-info btn-sm">View Profile</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/hCppjSL.jpg" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">MD.Arafat</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                <span class="speakers-sm">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-github"></i></a>
                                </span>
                                <a href="#" class="btn btn-outline-info">View Profile</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="https://i.imgur.com/hCppjSL.jpg" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">MD.Arafat</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                <span class="speakers-sm">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-github"></i></a>
                                </span>
                                <a href="#" class="btn btn-outline-info">View Profile</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>  -->

       

        <!-- <div class="blog">
                <div class="row">
                    <div class="homepage-title">
                        <img src="/theme/img/keynote-as.png" alt="" />
                        <h1>What you need to know</h1>
                    </div>
                    <div class="col-md-4">
                        <div class="single-blog">
                            <div class="card">
                                <img class="card-img-top" src="https://i.imgur.com/9sCkMyu.jpg" alt="Card image cap" />
                                <div class="card-body">
                                    <h5 class="card-title">Blog Title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-outline-warning">Read More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-blog">
                            <div class="card">
                                <img class="card-img-top" src="https://i.imgur.com/DqO3Cay.jpg" alt="Card image cap" />
                                <div class="card-body">
                                    <h5 class="card-title">Blog Title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-outline-warning">Read More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-blog">
                            <div class="card">
                                <img class="card-img-top" src="https://i.imgur.com/PSvcmin.jpg" alt="Card image cap" />
                                <div class="card-body">
                                    <h5 class="card-title">Blog Title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-outline-warning">Read More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div> -->

                    <!-- Sponsors    -->
                    <div class="sponsor-container">
                        <div class="homepage-title">
                            <h1>Sponsors / Partners</h1>
        
                            <div class="sponsor-list">
                                <div class="sponsor-card">
                                    <a href="https://mule.to/p20g">
                                        <img src="/theme/img/sponsor_logo/stickermule-co.png" alt="" class="card-img-top" />
                                        <h5 class="sponsor-card-title">STICKERMULE</h5>
                                    </a>
                                </div>
                                <div class="sponsor-card">
                                    <a href="https://www.notion.so/">
                                        <img src="/theme/img/sponsor_logo/notion.png" alt="" class="card-img-top" />
                                        <h5 class="sponsor-card-title">NOTION</h5>
                                    </a>
                                </div>
                                <div class="sponsor-card">
                                    <a href="https://mad-arai-d.com/">
                                        <img src="/theme/img/sponsor_logo/madAraiD.png" alt="" class="card-img-top" />
                                        <h5 class="sponsor-card-title">MAD ARAI-D</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
      
     <!-- ---Information about Conference--- -->
     <div class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="homepage-title">
                        <img src="/theme/img/keynote-as.png" alt="" />
                        <h1>Info</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-work">
                        <a href="/pages/sponsor">
                        <div class="work-img">
                            <img src="/theme/img/sponsorus.jpg" alt="Sponsor Us" />
                        </div>

                        <div class="work-hover">
                            <i class="fa fa-plus"></i>
                            <h5 class="work-hover-title">Sponsor Us</h5>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-work">
                        <div class="work-img">
                            <img src="/theme/img/schedule.jpg"  alt="Program" />
                        </div>

                        <div class="work-hover">
                            <i class="fa fa-plus"></i>
                            <h5 class="work-hover-title">Program</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-work">
                        <div class="work-img">
                            <img src="/theme/img/ticket.jpg" alt="Tickets" />
                        </div>

                        <div class="work-hover">
                            <i class="fa fa-plus"></i>
                            <h5 class="work-hover-title">Tickets</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-work">
                        <div class="work-img">
                            <img src="/theme/img/workshop.jpg" alt="Workshops" />
                        </div>

                        <div class="work-hover">
                            <i class="fa fa-plus"></i>
                            <h5 class="work-hover-title">Workshops</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-work">
                        <div class="work-img">
                            <img src="/theme/img/sprints.jpg" alt="Sprints" />
                        </div>

                        <div class="work-hover">
                            <i class="fa fa-plus"></i>
                            <h5 class="work-hover-title">Sprints</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-work">
                        <div class="work-img">
                            <img src="/theme/img/party.jpg " alt="Party" />
                        </div>
                        <div class="work-hover">
                            <i class="fa fa-plus"></i>
                            <h5 class="work-hover-title">After Party</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
                    <!-- Team's Portfolio     -->

            <div class="main-team-container"> 
                <div class="homepage-title">
                    <img src="/theme/img/keynote-as.png" alt="" />
                    <h1>Meet the Team</h1>
                </div>

                <div class="team-container">
                    <section id="team">
                   
                          <!-- Georgi's card -->
                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/georgi.jpeg" />
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/l0HlHJGHe3yAMhdQY/giphy-downsized.gif" />
                                        <p>Multi-tasking Octopus</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Georgi Ker</h5><br>
                                    <p class="team-card-text">Conference Lead</p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/georgically1"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/georgically"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/georgiker/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                         <!-- Dan's card -->
                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/dan.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/ZF8nStqm4GjQHrDO0K/giphy.gif" />
                                        <p>The Lindy Computer Wiz</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Dan Itsara</h5>
                                    <p class="team-card-text">
                                        Finance Lead </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/danitsara"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/ditsara"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/danitsara/"><i class="fa fa-linkedin"></i></a>
                                   </span>
                                </div>
                        </div>

                           <!-- Dylan's card -->

                           <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/dylan.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/h45algtniCWEo/giphy.gif" />
                                        <p>The Debator</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Dylan Jay</h5>
                                    <p class="team-card-text">
                                        Logistics Lead/Sprint Lead </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/djay75"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/djay"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/djay75/"><i class="fa fa-linkedin"></i></a>
                                   </span>
                                </div>
                        </div>

                        <!-- Francois's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/francois.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/lrW5C1vjtWKb3X2oom/giphy.gif" />
                                        <p>All around IT person with an inkling for Home Automation in Python</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">François Wautier</h5>
                                    <p class="team-card-text">
                                        Program Lead/Content Writer </p>
                                    <span class="team-icon">
                                        <a href="https://github.com/frawau"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/frawau/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>
                        

                        <!-- Yo's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/yo.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/ZczzfwJ4AqFDGkFPmR/giphy-downsized.gif" />
                                        <p>The Thinker</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Dasapich Yo Thongnopnua</h5>
                                    <p class="team-card-text">
                                        Sponsorship Lead </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/dasapich"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/dasapich"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/dasapich/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>
                        
                        <!-- Jean's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/jean.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/yAwqRBl63cVp9fRsgH/giphy.gif" />
                                        <p>The Problem-solver</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Jean Jordaan</h5>
                                    <p class="team-card-text">
                                        Tech Lead </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/neajj"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/jean"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/jeanjordaan/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                        <!-- Kan's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/kan.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/xT9C25UNTwfZuk85WP/giphy-downsized.gif" />
                                        <p>The Scientist Influencer</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Kan Ouivirach</h5>
                                    <p class="team-card-text">
                                        MarCom Lead/Content Writer/Sprint Lead </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/zkancs"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/zkan"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/kanouivirach/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                        <!-- Saru's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/saru.png"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/3ROGCp62zakRW/giphy.gif" />
                                        <p>Miss Sunshine</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Saranya Mohan</h5>
                                    <p class="team-card-text">
                                        On-Site Lead/Content Writer/Speakers Welfare  </p>
                                    <span class="team-icon">
                                        <a href="https://www.instagram.com/saru.sunshine"><i class="fa fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/saranya-mohan-29876757/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                         <!-- Andrew's card -->

                         <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/andrew.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/5CMnHo4Ym29t6/giphy.gif" />
                                        <p>The Predictor</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Andrew Purser</h5>
                                    <p class="team-card-text">
                                        Hosting Lead/Sponsorship </p>
                                    <span class="team-icon">
                                         <a href="https://www.linkedin.com/in/andrewpurser/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                         <!-- Man's card -->

                         <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/man.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/UrEQirmnMPxBwToULv/giphy.gif" />
                                        <p>The Mentor</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Yothin Muangsommuk(Man)</h5>
                                    <p class="team-card-text">
                                        MarCom/Content Writer/Workshop Lead</p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/yothinix"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/yothinix"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/yothinx/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                        <!-- Gatuk's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/gatuk.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/3o7aD8BYLqkQ4NU9Bm/giphy-downsized.gif" />
                                        <p>The Fiery Power Girl</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Sudarat Chattanon(Gatuk)</h5>
                                    <p class="team-card-text">
                                        MarCom/Content Writer/Workshop </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/gatukgl"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/gatukgl"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/gatukgl/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                        <!-- Nutt's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/nutt.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/3o7qE4opCd6f1NJeuY/giphy-downsized.gif" />
                                        <p>The Moleculous Chemist</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Rangsiman Ketkaew(Nutt)</h5>
                                    <p class="team-card-text">
                                        MarCom/Content Writer </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/rangsiman1993"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/rangsimanketkaew"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/rangsiman1993/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                         <!-- Tino's card -->

                         <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/tino.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/TFBuKkDFgIftdcbxxv/giphy-downsized.gif" />
                                        <p></p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Tino Thamjarat</h5>
                                    <p class="team-card-text">
                                        Tech </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/V_TNO"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/vtno"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/tino-thamjarat-632550a5/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                         <!-- James's card -->

                         <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/james.png"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="/theme/img/team/C06C3E93-2AAF-4F21-98D1-4687D5A06ED4.gif" />
                                        <p>The Overdosed Programmer</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Piyabuht Wongsahan(James)</h5>
                                    <p class="team-card-text">
                                        Tech/On-site </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/PiyabuhtW"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/nekk"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/piyabhut-wongsahan-00a55413a/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                         <!-- Chomtana's card -->

                         <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/chomtana.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/5vx80FncuVt72/giphy.gif" />
                                        <p>The Professional Champion</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Chomtana Chanjaraswichai</h5>
                                    <p class="team-card-text">
                                        Tech </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/Chomtana"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/Chomtana"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/chomtana-chanjaraswichai-017381137/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                         <!-- Jedt's card -->

                         <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/jedt.jpg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/Kc1tJDZ3Q4d2pfalIG/giphy-downsized.gif" />
                                        <p>The Multi-tasker</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Worajedt Sitthidumrong</h5>
                                    <p class="team-card-text">
                                       Program/ Sponsorship </p>
                                    <span class="team-icon">
                                        <a href="https://www.linkedin.com/in/worajedt/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>

                        <!-- Shane's card -->

                        <div class="item">
                            <figure>
                                <div class="team-card">
                                    <div class="card-front">
                                        <img src="/theme/img/team/shane.jpeg"/>
                                    </div>
                                    <div class="card-back">
                                        <img src="https://media.giphy.com/media/TFBuKkDFgIftdcbxxv/giphy-downsized.gif" />
                                        <p>The Advisor</p>
                                    </div>
                                </div>
                            </figure>
                                <div class="team-card-body">
                                    <h5 class="team-card-title">Shane Torr</h5>
                                    <p class="team-card-text">
                                        Sponsorship </p>
                                    <span class="team-icon">
                                        <a href="https://twitter.com/shanetorr"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/shanetorr"><i class="fa fa-github"></i></a>
                                        <a href="https://www.linkedin.com/in/shanetorr/"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                        </div>


                    </section>
                </div>
            </div>



           
            <div class="about-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="about">
                                <div class="heading">
                                    <h1>About</h1>
                                </div>
                                <div class="content">
                                    <p>
                                        PyCon Thailand is the largest annual international conference for the community using and developing the open-source 
                                        Python programming language in Thailand. All Python enthusiasts, from novice programmers to leading experts gather around at the 
                                        same venue to share their knowledge, embrace diversity and support networks around Python programming. In it's third year, 
                                        PyCon is an international annual event driven by the members of the Python Community in Bangkok on a non-profit basis dedicated to advancing and promoting Python.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>

    
    </body>
</html>
