<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img class="pycon-logo" src="/theme/img/pyconth2020_logo_bnw.png" alt="PyConTH">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="/pages/about">PyConTH</a>
                    <a class="dropdown-item" href="/pages/event">Hybrid Event </a>
                    <a class="dropdown-item" href="/#team">Our Team</a>
                    <a class="dropdown-item" href="/pages/covid-19">COVID-19</a>
                    <a class="dropdown-item" href="/pages/code-of-conduct">Code of Conduct</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Program
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="https://www.papercall.io/pyconapac">Call for Proposal</a>
                    <!-- <a class="dropdown-item" href="">Schedule</a> -->
                    <a class="dropdown-item" href="/#keynotes">Keynotes</a>
                    <!-- <a class="dropdown-item" href="#">Speakers</a> -->
                    <!-- <a class="dropdown-item" href="#">Sprints</a>
                    <a class="dropdown-item" href="#">Workshop</a>
                    <a class="dropdown-item" href="#">Party</a> -->
                    <a class="dropdown-item" href="/pages/speakers-advice">Speakers Advice</a>
                    <a class="dropdown-item" href="#">Release Agreement</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Sponsor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="/pages/sponsor">Be a Sponsor</a>
                    <a class="dropdown-item" href="https://www.canva.com/design/DADsFBfFjFI/U-e75lXntzbWRgwamUFq5Q/view?website#2:pycon-apac">Prospectus</a>
                    <!-- <a class="dropdown-item" href="#">Terms</a>
                    <a class="dropdown-item" href="#">Sponsors Info</a> -->
                    <!-- <a class="dropdown-item" href="#">Job-Board</a> -->
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Location
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    <a class="dropdown-item" href="#">Venue</a>
                    <a class="dropdown-item" href="#">Accommodation</a>
                    <a class="dropdown-item" href="#">Moving Around</a>
                    <a class="dropdown-item" href="#">About Bangkok</a>
                    <a class="dropdown-item" href="#">VISA</a>
                </div>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="https://medium.com/pyconth">News</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Contact
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <a class="dropdown-item" href="https://forms.gle/jkJSRGGfY43Jsk3W6">Feedback</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="mailto:contact@pyconthailand.org">Contact Us</a>
            </div>
            </li>


            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Tickets</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Previous years
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                    <a class="dropdown-item" href="https://2019.th.pycon.org/en/">2019</a>
                    <a class="dropdown-item" href="https://2019.th.pycon.org/pycon2018/en/">2018</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
